body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(116, 0, 1, 1) 100%
  );
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App img {
  margin-right: 5px;
}

.App h1 {
  font-family: "Grenze Gotisch", cursive;
  color: white;
  font-weight: 600;
  text-shadow: #000000 1px 0 10px;
}

.App footer {
  color: #c0c0c0;
  font-size: 11px;
  margin: 10px 0;
}

.App a {
  color: rgb(0, 142, 140);
  text-decoration: none;
}

.App a:hover {
  color: rgba(0, 116, 115, 0.85);
}

.App .AppTitle {
  background: repeating-linear-gradient(
    45deg,
    #c6a513,
    #c6a513 3px,
    #6d0000 3px,
    #6d0000 9px,
    #c6a513 9px,
    #c6a513 10px,
    #6d0000 10px,
    #6d0000 30px
  );

  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 60px;
  left: 50%;
}

.App .snitch {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 200%;
    width: 10%;
  }

  to {
    margin-left: -50%;
    width: 50%;
  }
}
