.Weather {
  font-family: arial, sans-serif;
  color: #000000;
  background-color: #d3a625;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

.Weather .WeatherInfo {
  color: #c0c0c0;
  background: #740001;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 8%);
}

.Weather h1 {
  color: #740001;
  font-size: 42px;
  font-weight: 200;
  text-shadow: 3px 4px 5px rgb(0 0 0 / 5%);
  line-height: 29px;
  margin: 10px 0 0 0px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  color: #740001;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  color: #eeba30;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #eeba30;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .btn-primary {
  margin: 0 6px;
  color: #fff;
  background-color: rgb(174, 0, 1);
  border-color: rgb(174, 0, 1);
}

.Weather .btn-primary:hover,
.Weather .btn-primary:focus {
  color: #fff;
  background-color: rgba(116, 0, 1, 0.8);
  border-color: rgba(116, 0, 1, 0.8);
  box-shadow: 0 0 0 4px rgba(116, 0, 1, 0.5);
  outline: 0;
}

.Weather .btn-primary:active {
  color: #fff;
  background-color: rgb(116, 0, 1);
  border-color: rgb(116, 0, 1);
  box-shadow: 0 0 0 4px rgba(116, 0, 1, 0.5);
  outline: 0;
}

.Weather .btn-check:active + .Weather .btn-primary:focus,
.Weather .btn-check:checked + .Weather .btn-primary:focus,
.Weather .btn-primary.active:focus,
.Weather .btn-primary:active:focus,
.Weather .show > .Weather .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgb(116, 0, 1, 0.5);
}

.Weather .btn-success {
  color: #fff;
  background-color: rgb(0, 142, 140);
  border-color: rgb(0, 142, 140);
}

.Weather .btn-success:hover,
.Weather .btn-success:focus {
  color: #fff;
  background-color: rgba(0, 116, 115, 0.8);
  border-color: rgba(0, 116, 115, 0.8);
  box-shadow: 0 0 0 4px rgba(0, 116, 115, 0.4);
  outline: 0;
}

.Weather .btn-success:active {
  color: #fff;
  background-color: rgba(0, 116, 115);
  border-color: rgba(0, 116, 115);
  box-shadow: 0 0 0 4px rgba(0, 116, 115, 0.6);
  outline: 0;
}

.Weather .btn-check:active + .Weather .btn-success:focus,
.Weather .btn-check:checked + .Weather .btn-success:focus,
.Weather .btn-success.active:focus,
.Weather .btn-success:active:focus,
.Weather .show > .Weather .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgba(0, 116, 115, 0.5);
}

@media (max-width: 900px) {
  .Weather h1 {
    font-size: 24px;
    line-height: 26px;
  }

  .Weather canvas {
    margin-right: 1px;
  }

  .Weather .temperature {
    font-weight: 300;
    font-size: 52px;
    line-height: 54px;
  }

  .Weather .unit {
    top: -24px;
  }
}
